.prose {
  --prose-color: var(--color-gray-700);
  --prose-heading-color: var(--color-gray-600);
  --prose-link-color: var(--color-blue-600);
  --prose-link-underline-color: var(--color-blue-400);
  --prose-code-color: var(--color-gray-900);
  --prose-marker-color: color-mix(in oklab, var(--color-gray-700) 25%, transparent);
  --prose-th-borders: var(--color-gray-300);
  --prose-td-borders: var(--color-gray-200);
  --prose-hr-color: color-mix(in oklab, var(--color-gray-900) 5%, transparent);
  --prose-blockquote-border-color: var(--color-orange-500);

  color: var(--prose-color);
  font-size: var(--text-lg);
  line-height: var(--text-lg--line-height);
  max-width: 65ch;

  p {
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em;
  }

  [class~="lead"] {
    font-size: 1.2222222em;
    line-height: 1.4545455;
    margin-top: 1.0909091em;
    margin-bottom: 1.0909091em;
  }

  a {
    color: var(--prose-link-color);
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: var(--prose-link-underline-color);
    text-decoration-thickness: 1px;
  }

  a:hover {
    text-decoration-thickness: 2px;
  }

  strong,
  blockquote strong,
  thead th strong {
    color: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--prose-heading-color);
  }

  h1 {
    font-weight: 800;
    font-size: 2.6666667em;
    margin-top: 0;
    margin-bottom: 0.8333333em;
    line-height: 1;
  }

  h2 {
    font-weight: 700;
    font-size: 1.6666667em;
    margin-top: 1.8666667em;
    margin-bottom: 1.0666667em;
    line-height: 1.3333333;
  }

  h3 {
    font-weight: 600;
    font-size: 1.3333333em;
    margin-top: 1.6666667em;
    margin-bottom: 0.6666667em;
    line-height: 1.5;
  }

  h4 {
    font-weight: 600;
    margin-top: 1.7777778em;
    margin-bottom: 0.4444444em;
    line-height: 1.5555556;
  }

  img,
  picture,
  video {
    margin-top: 1.7777778em;
    margin-bottom: 1.7777778em;
  }

  picture>img {
    margin-top: 0;
    margin-bottom: 0;
  }

  kbd {
    font-size: 0.8888889em;
    border-radius: 0.3125rem;
    padding-top: 0.2222222em;
    padding-inline-end: 0.4444444em;
    padding-bottom: 0.2222222em;
    padding-inline-start: 0.4444444em;
  }

  code {
    color: var(--prose-code-color);
    font-size: 0.8888889em;
  }

  h2 code {
    font-size: 0.8666667em;
  }

  h3 code {
    font-size: 0.875em;
  }

  pre {
    overflow-x: auto;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.75;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 0.375rem;
    padding-top: 1em;
    padding-inline-end: 1.5em;
    padding-bottom: 1em;
    padding-inline-start: 1.5em;
  }

  pre code {
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-weight: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
  }

  pre code::before,
  pre code::after {
    content: none;
  }

  ol {
    list-style-type: decimal;
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em;
    padding-inline-start: 1.5555556em;
  }

  ol[type="A"],
  ol[type="A" s] {
    list-style-type: upper-alpha;
  }

  ol[type="a"],
  ol[type="a" s] {
    list-style-type: lower-alpha;
  }

  ol[type="I"],
  ol[type="I" s] {
    list-style-type: upper-roman;
  }

  ol[type="i"],
  ol[type="i" s] {
    list-style-type: lower-roman;
  }

  ol[type="1"] {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em;
    padding-inline-start: 1.5555556em;
  }

  ol>li::marker {
    font-weight: 400;
  }

  ul>li::marker {
    color: var(--prose-marker-color);
  }

  li {
    margin-top: 0.6666667em;
    margin-bottom: 0.6666667em;
  }

  ol>li,
  ul>li {
    padding-inline-start: 0.4444444em;
  }

  &>ul>li p {
    margin-top: 0.8888889em;
    margin-bottom: 0.8888889em;
  }

  &>ul>li>p:first-child,
  &>ol>li>p:first-child {
    margin-top: 1.3333333em;
  }

  &>ul>li>p:last-child,
  &>ol>li>p:last-child {
    margin-bottom: 1.3333333em;
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-top: 0.8888889em;
    margin-bottom: 0.8888889em;
  }

  dl {
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em;
  }

  dt {
    color: var(--prose-heading-color);
    font-weight: 600;
    margin-top: 1.3333333em;
  }

  dd {
    margin-top: 0.6666667em;
    padding-inline-start: 1.5555556em;
  }

  hr {
    border-color: var(--prose-hr-color);
    border-top-width: 1px;
    margin-top: 3.1111111em;
    margin-bottom: 3.1111111em;
  }

  hr+*,
  h2+*,
  h3+*,
  h4+* {
    margin-top: 0;
  }

  blockquote {
    font-weight: 500;
    font-style: italic;
    border-inline-start-width: 0.25rem;
    border-inline-start-color: var(--prose-blockquote-border-color);
    margin-top: 1.6666667em;
    margin-bottom: 1.6666667em;
    padding-inline-start: 1em;
  }

  blockquote p:first-of-type::before {
    content: open-quote;
  }

  blockquote p:last-of-type::after {
    content: close-quote;
  }

  table {
    width: 100%;
    table-layout: auto;
    margin-top: 2em;
    /* em(32, 16) */
    margin-bottom: 2em;
    /* em(32, 16) */
    font-size: 1em;
    line-height: 1.5;
  }

  thead {
    border-bottom-width: 1px;
    border-bottom-color: var(--prose-th-borders);
  }

  thead th {
    color: var(--prose-heading-color);
    font-weight: 600;
    vertical-align: bottom;
    padding-inline-end: 0.75em;
    padding-bottom: 0.75em;
    padding-inline-start: 0.75em;
  }

  tbody tr {
    border-bottom-width: 1px;
    border-bottom-color: var(--prose-td-borders);
  }

  tbody tr:last-child {
    border-bottom-width: 0;
  }

  tbody td {
    vertical-align: baseline;
    padding-top: 0.75em;
    padding-inline-end: 0.75em;
    padding-bottom: 0.75em;
    padding-inline-start: 0.75em;
  }

  tfoot {
    border-top-width: 1px;
    border-top-color: var(--prose-th-borders);
  }

  tfoot td {
    vertical-align: top;
  }

  th,
  td {
    text-align: start;
  }

  figure {
    margin-top: 1.7777778em;
    margin-bottom: 1.7777778em;
  }

  figure>* {
    margin-top: 0;
    margin-bottom: 0;
  }

  figcaption {
    font-size: 0.8888889em;
    line-height: 1.5;
    margin-top: 1em;
    font-style: italic;
    color: color-mix(in oklab, var(--prose-color) 75%, transparent);
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  @variant lg {
    font-size: 1.25rem;
    line-height: 1.8;

    p {
      margin-top: 1.2em;
      margin-bottom: 1.2em;
    }

    [class~="lead"] {
      font-size: 1.2em;
      line-height: 1.5;
      margin-top: 1em;
      margin-bottom: 1em;
    }

    blockquote {
      margin-top: 1.6em;
      margin-bottom: 1.6em;
      padding-inline-start: 1.0666667em;
    }

    h1 {
      font-size: 2.8em;
      margin-bottom: 0.8571429em;
    }

    h2 {
      font-size: 1.8em;
      margin-top: 1.5555556em;
      margin-bottom: 0.8888889em;
      line-height: 1.1111111;
    }

    h3 {
      font-size: 1.5em;
      margin-top: 1.6em;
      margin-bottom: 0.6666667em;
      line-height: 1.3333333;
    }

    h4 {
      margin-top: 1.8em;
      margin-bottom: 0.6em;
      line-height: 1.6;
    }

    img,
    picture,
    video {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    kbd {
      font-size: 0.9em;
      padding-top: 0.25em;
      padding-inline-end: 0.4em;
      padding-bottom: 0.25em;
      padding-inline-start: 0.4em;
    }

    code {
      font-size: 0.9em;
    }

    h2 code {
      font-size: 0.8611111em;
    }

    h3 code {
      font-size: 0.9em;
    }

    pre {
      font-size: 1em;
      line-height: 1.7777778;
      margin-top: 2em;
      margin-bottom: 2em;
      border-radius: 0.5rem;
      padding-top: 1.1111111em;
      padding-inline-end: 1.3333333em;
      padding-bottom: 1.1111111em;
      padding-inline-start: 1.3333333em;
    }

    ol,
    ul {
      margin-top: 1.2em;
      margin-bottom: 1.2em;
      padding-inline-start: 1.6em;
    }

    li {
      margin-top: 0.6em;
      margin-bottom: 0.6em;
    }

    ol>li,
    ul>li {
      padding-inline-start: 0.4em;
    }

    >ul>li p {
      margin-top: 0.8em;
      margin-bottom: 0.8em;
    }

    >ul>li>p:first-child,
    >ol>li>p:first-child {
      margin-top: 1.2em;
    }

    >ul>li>p:last-child,
    >ol>li>p:last-child {
      margin-bottom: 1.2em;
    }

    ul ul,
    ul ol,
    ol ul,
    ol ol {
      margin-top: 0.8em;
      margin-bottom: 0.8em;
    }

    dl {
      margin-top: 1.2em;
      margin-bottom: 1.2em;
    }

    dt {
      margin-top: 1.2em;
    }

    dd {
      margin-top: 0.6em;
      padding-inline-start: 1.6em;
    }

    hr {
      margin-top: 2.8em;
      margin-bottom: 2.8em;
    }

    table {
      font-size: 0.9em;
      line-height: 1.5555556;
    }

    thead th {
      padding-inline-end: 0.6666667em;
      padding-bottom: 0.8888889em;
      padding-inline-start: 0.6666667em;
    }

    tbody td,
    tfoot td {
      padding-top: 0.8888889em;
      padding-inline-end: 0.6666667em;
      padding-bottom: 0.8888889em;
      padding-inline-start: 0.6666667em;
    }

    figure {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    figcaption {
      font-size: 0.9em;
      line-height: 1.5555556;
      margin-top: 1em;
    }
  }
}
